## Build generated
build/
DerivedData/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

##CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

*.xcworkspace
*.DS_Store
*.pbxproj
*.xcscheme
TIQuiz/Pods/Pods.xcodeproj
TIQuiz/Pods/Pods.xcodeproj/project.pbxproj
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/GoogleAppMeasurement.xcscheme
TIQuiz/.DS_Store
TIQuiz/Pods/Pods.xcodeproj/project.pbxproj
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/Alamofire.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/Firebase.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/FirebaseAnalytics.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/FirebaseAuth.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/FirebaseAuthInterop.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/FirebaseCore.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/FirebaseInstanceID.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/GTMSessionFetcher.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/GoogleUtilities.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/Pods-TIQuiz.xcscheme
TIQuiz/Pods/Pods.xcodeproj/xcuserdata/andrezamoreira.xcuserdatad/xcschemes/nanopb.xcscheme
TIQuiz/TIQuiz/.DS_Store
.DS_Store
TIQuiz/TIQuiz.xcodeproj/project.pbxproj
