<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297131052943-lufdhor6vs07udtndptrc2smjs6eejcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297131052943-lufdhor6vs07udtndptrc2smjs6eejcd</string>
	<key>API_KEY</key>
	<string>AIzaSyCN9oVcTa_M3qFo6-7Kyck9ns7u3E_r-rE</string>
	<key>GCM_SENDER_ID</key>
	<string>297131052943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrezamoreira.tiquiz</string>
	<key>PROJECT_ID</key>
	<string>tiquiz</string>
	<key>STORAGE_BUCKET</key>
	<string>tiquiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297131052943:ios:2dd3243dd1bd8217</string>
	<key>DATABASE_URL</key>
	<string>https://tiquiz.firebaseio.com</string>
</dict>
</plist>